---
import '../styles/destyle.css';
import '../styles/vars.css';
import '../styles/global.css';
import '../styles/styleguide.css';

const { title } = Astro.props;

const path = '/component-guide';

import SwitchTheme from '../components/Switch/SwitchTheme.astro';
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>コンポーネントガイド</title>
    <script>
			const html = document.querySelector('html');

			// ローカルストレージから現在のテーマ設定を読み込みます
			const currentTheme = localStorage.getItem('theme');

			if (currentTheme) {
				if (html) {
					html.setAttribute('data-theme', currentTheme);
				}
			}
		</script>
	</head>
	<body>
    <header class="page-header">
      <h1 class="heading-s"><a href={path}>コンポーネントガイド</a></h1>
      <SwitchTheme />
    </header>
    <div class="content">
      <nav class="sidebar">
        <ul>
          <li><a href={`${path}/c-icon`}>Icon</a></li>
          <li><a href={`${path}/c-skill-icon`}>SkillIcon</a></li>
          <li><a href={`${path}/c-image`}>Image</a></li>
          <li><a href={`${path}/c-typography`}>Typography</a></li>
          <li><a href={`${path}/c-button`}>Button</a></li>
          <li><a href={`${path}/c-link`}>Link</a></li>
          <li><a href={`${path}/c-checkbox`}>Checkbox</a></li>
          <li><a href={`${path}/c-radio`}>Radio</a></li>
          <li><a href={`${path}/c-selectbox`}>Selectbox</a></li>
          <li><a href={`${path}/c-input`}>Input</a></li>
          <li><a href={`${path}/c-textarea`}>Textarea</a></li>
          <li><a href={`${path}/c-form-helper`}>FormHelper</a></li>
          <li><a href={`${path}/c-skelton`}>Skelton</a></li>
          <li><a href={`${path}/c-stack`}>Stack</a></li>
          <li><a href={`${path}/c-grid`}>Grid</a></li>
          <li><a href={`${path}/c-accordion`}>Accordion</a></li>
          <li><a href={`${path}/c-tab`}>Tab</a></li>
          <li><a href={`${path}/c-modal`}>Modal</a></li>
          <li><a href={`${path}/c-divider`}>Divider</a></li>
          <li><a href={`${path}/c-list`}>List</a></li>
          <li><a href={`${path}/c-table`}>Table</a></li>
          <li><a href={`${path}/c-switch`}>Switch</a></li>
          <li><a href={`${path}/c-message-balloon`}>MessageBalloon</a></li>
          <li><a href={`${path}/c-catch`}>Catch</a></li>
          <li><a href={`${path}/c-section-heading`}>SectionHeading</a></li>
          <li><a href={`${path}/c-skill-item`}>SkillItem</a></li>
          <li><a href={`${path}/c-work-thumbnail`}>WorkThumbnail</a></li>
          <li><a href={`${path}/c-work-item`}>WorkItem</a></li>
          <li><a href={`${path}/c-consult-item`}>ConsultItem</a></li>
          <li><a href={`${path}/c-navigation`}>Navigation</a></li>
          <li><a href={`${path}/c-hamburger`}>Hamburger</a></li>
          <li><a href={`${path}/c-header`}>Header</a></li>
          <li><a href={`${path}/c-footer`}>Footer</a></li>
        </ul>
      </nav>
      <main class="main">
        { title ? <h2 class="heading-m">{title}</h2>: '' }
        <slot />
      </main>
    </div>
	</body>
</html>