---
import '../styles/destyle.css';
import '../styles/vars.css';
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
	canonicalUrl?: string;
	ogImage?: string;
}

const { 
	title,
	description = "新田詩織の社内ポートフォリオサイトです。ブロフィール、スキル、相談できる内容、制作物を紹介してます。",
	canonicalUrl = "https://ellie-in-house-portfolio.netlify.app/",
	ogImage = "https://ellie-in-house-portfolio.netlify.app/og-image.png"

} = Astro.props;

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | 新田詩織 社内ポートフォリオ</title>
		<meta name="description" content={description}>
  	<link rel="canonical" href={canonicalUrl}>
		<meta property="og:title" content=`${title} | 新田詩織 社内ポートフォリオ` />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@yourTwitterAccount">
		<meta name="twitter:title" content=`${title} | 新田詩織 社内ポートフォリオ`>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={ogImage}>
		<meta name="robots" content="noindex, nofollow">
		<script>
			const html = document.querySelector('html');

			// ローカルストレージから現在のテーマ設定を読み込みます
			const currentTheme = localStorage.getItem('theme');

			if (currentTheme) {
				if (html) {
					html.setAttribute('data-theme', currentTheme);
				}
			}
		</script>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script>
      import "../scripts/smooth-scroll.js";
    </script>
	</body>
</html>